.article1 {
	background-color: firebrick;
	font-family: ;
	font-size: ;
	color: white;
	line-height: ;
	padding: ;
}

.article2 {
	background-color: dodgerblue;
	font-family: ;
	font-size: ;
	color: powderblue;
	line-height: ;
	padding: ;
}

.article3 {
	background-color: seagreen;
	font-family: ;
	font-size: ;
	color: silver;
	line-height: ;
	padding: ;
}

.article4 {
	background-color: steelblue;
	font-family: ;
	font-size: ;
	color: chocolate;
	line-height: ;
	padding: ;
}

.article5 {
	background-color: lightsteelblue;
	font-family: ;
	font-size: ;
	color: brown;
	line-height: ;
	padding: ;
}

