.article1 {
	background-color: firebrick;
	font-family: Arial;
	font-size: .8em;
	color: white;
	line-height: ;
	padding: ;
}

.article2 {
	background-color: dodgerblue;
	font-family: "Trebuchet MS";
	font-size: 1.2em;
	color: powderblue;
	line-height: ;
	padding: ;
}

.article3 {
	background-color: seagreen;
	font-family: Georgia;
	font-size: 1.4em;
	color: silver;
	line-height: ;
	padding: ;
}

.article4 {
	background-color: steelblue;
	font-family: Impact;
	font-size: 1.5em;
	color: chocolate;
	line-height: ;
	padding: ;
}

.article5 {
	background-color: lightsteelblue;
	font-family: "Comic Sans MS";
	font-size: 1.6em;
	color: brown;
	line-height: ;
	padding: ;
}

