.article1 {
	background-color: firebrick;
	font-family: Arial;
	font-size: .8em;
	color: white;
	line-height: 2em;
	padding-left: 20px;
	border: 5px solid black;
    border-radius: 25px;
}

.article2 {
	background-color: dodgerblue;
	font-family: "Trebuchet MS";
	font-size: 1.2em;
	color: powderblue;
	line-height: 1.1em;
	padding: 10px 0;
	border: 10px solid powderblue;
    border-radius: 50px;
}

.article3 {
	background-color: seagreen;
	font-family: Georgia;
	font-size: 1.4em;
	color: silver;
	line-height: 1.2em;
	padding-left: 30px;
	border: 8px solid royalblue;
    border-radius: 65px;
}

.article4 {
	background-color: steelblue;
	font-family: Impact;
	font-size: 1.5em;
	color: chocolate;
	line-height: 1.3em;
	padding: 10px 0 25px 50px;
	border: 6px solid grey;
    border-radius: 360px;
}

.article5 {
	background-color: lightsteelblue;
	font-family: "Comic Sans MS";
	font-size: 1.6em;
	color: brown;
	line-height: 1.4em;
	padding: 20px 50px;
	border: 50px solid dodgerblue;
    border-radius: 180px;
}

