header {
	border: 1px solid royalblue;
}

nav > ul {
	overflow: hidden;
}

nav > ul > li {
	float: left;
	list-style: none;
	padding-right: 15px;
}

.disabled {
	color: grey;
}

a .disabled {
	color: purple;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}

